<div class="table-detail-container">
    <h3 class="text-decoration-underline mb-3">Bajnoki Tabella - <span class="fs-3" id="tab-num"></span>. csoport</h3>
    <table id="detail-table" class="table table-responsive table-dark">
        <thead>
            <tr class=border-bottom border-3 border-secondary bg-secondary text-start">
                <th class="mb-3">#</th>
                <th class="mb-3">Csapat</th>
                <th class="mb-3 text-center">M</th>
                <th class="mb-3 text-center">Gy</th>
                <th class="mb-3 text-center">D</th>
                <th class="mb-3 text-center">V</th>
                <th class="mb-3 text-center">PT</th>
            </tr>
        </thead>
        <tbody id="detail-tbody">

        </tbody>
    </table>
</div>