<div class="mb-3">
    <label for="tableName" class="form-label">Bajnokság / Tabella neve</label>
    <input type="text" class="form-box form-control" id="tableName" name="tableName"
        placeholder="Pl. Tavaszi Szezon 2026" required>
</div>
<div class="mb-3">
    <label class="form-label">Résztvevő csapatok kiválasztása</label>
    <div id="team-body" class="border p-3 rounded">
        <p class="m-0 fst-italic">Nincsenek meglévő csapatok...</p>
    </div>
    <div class="form-text">Válassz ki legalább 2 csapatot a tabella elindításához.</div>
</div>