<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" id="table-container">
            <div class="row">
                <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
                </p>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="details-model" tabindex="-1" aria-labelledby="details-model-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="fs-5" id="exampleModalLabel">Tabella Részletek</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div>
        <input type="hidden" id="view-table-id" value="-1">
        <div id="detail-body" class="p-3">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Bezárás</button>
        <button type="button" class="btn btn-outline-danger" id="btn-detail-delete" data-bs-dismiss="modal">Törlés</button>
      </div>
    </div>
  </div>
</div>