* {
  font-family: 'Arial Narrow', Arial, sans-serif;
  /* font-size: 14px; */
}

body
{
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  transition: 1.5s;
}

#app .position-absolute
{
  height: 80vh;
}

.btn-link {
  background-color: #00000000;
  border: none;
}

.title-header
{
  background-image: linear-gradient(180deg,rgb(255, 255, 255) 0%, rgb(202, 202, 202) 100%);
  font-weight: bolder;
  color: transparent;
  background-clip: text;
}


/* Mobil eszközök */
@media only screen and (max-width: 460px)
{
  .btn
  {
    padding: 5px 3px !important;
  }
}

/* Tablet eszközök */

@media only screen and (max-width: 768px)
{
   * {
    font-size: 14px;
  }

  .w-75
  {
    width: 90vw !important;
  }

  .mx-3
  {
    margin: 0px !important;
  }
}

/* Asztali eszközök */
/* @media only screen and (min-width: 1200px)
{
  body { --bs-body-bg: #0000FF; }
} */