            <label for="name" class="form-label">Név: </label>
            <input id="newname" type="text" name="name" class="form-control mb-3" required>

            <label for="teamID" class="form-label">Csapat id: </label>
            <input id="newteamID" type="text" name="teamID" class="form-control mb-3" required>

            <label for="goals" class="form-label">Gólok: </label>
            <input id="newgoals" type="number" name="goals" class="form-control mb-3" required>

            <label for="matches" class="form-label">Meccsek: </label>
            <input id="newmatches" type="number" name="matches" class="form-control mb-3" required>

            <label for="skill" class="form-label">Skill: </label>
            <input id="newskill" type="number" name="skill" class="form-control mb-3" required>

            <label for="position" class="form-label">Pozíció: </label>
            <select name="position class="form-control mb-3">
                <option id="newGK" value="GK">Kapus</option>
                <option id="newCB" value="CB">Középhátvéd</option>
                <option id="newLB" value="LB">Bal hátvéd</option>
                <option id="newRB" value="RB">Jobb hátvéd</option>
                <option id="newLWB value="LWB">Bal oldali szárnyvédő</option>
                <option id="newRWB value="RWB">Jobb oldali szárnyvédő</option>
                <option id="newDM" value="DM">Védekező középpályás</option>
                <option id="newCM" value="CM">Középső középpályás</option>
                <option id="newAM" value="AM">Támadó középpályás</option>
                <option id="newLM" value="LM">Bal oldali középpályás</option>
                <option id="newRM" value="RM">Jobb oldali középpályás</option>
                <option id="newLW" value="LW">Bal szélső támadó</option>
                <option id="newRW" value="RW">Jobb szélső támadó</option>
                <option id="newST" value="ST">Csatár</option>
                <option id="newVD" value="VD">Védő</option>
                <option id="newSS" value="SS">Árnyékék</option>
            </select>