 <div class="tab-content">
    <table id="playersTable" class="table">
        <thead>
            <th>#</th>
            <th>Név</th>
            <th>Csapata</th>
            <th>Pozíció</th>
            <th>Műveletek</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="update-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="fs-5">Játékos szerkesztése</h1>
            </div>
        <form action="#" id="adatok" class="p-3">
          <div>
            <label for="name" class="form-label">Név: </label>
            <input id="name" type="text" name="name" class="form-control mb-3">

            <label for="teamID" class="form-label">Csapat id: </label>
            <input id="teamID" type="text" name="teamID" class="form-control mb-3">

            <label for="goals" class="form-label">Gólok: </label>
            <input id="goals" type="number" name="goals" class="form-control mb-3">

            <label for="matches" class="form-label">Meccsek: </label>
            <input id="matches" type="number" name="matches" class="form-control mb-3">

            <label for="skill" class="form-label">Skill: </label>
            <input id="skill" type="number" name="skill" class="form-control mb-3">

            <label for="position" class="form-label">Pozíció: </label>
            <select name="position class="form-control mb-3">
                <option id="GK" value="GK">Kapus</option>
                <option id="CB" value="CB">Középhátvéd</option>
                <option id="LB" value="LB">Bal hátvéd</option>
                <option id="RB" value="RB">Jobb hátvéd</option>
                <option id="LWB" value="LWB">Bal oldali szárnyvédő</option>
                <option id="RWB" value="RWB">Jobb oldali szárnyvédő</option>
                <option id="DM" value="DM">Védekező középpályás</option>
                <option id="CM" value="CM">Középső középpályás</option>
                <option id="AM" value="AM">Támadó középpályás</option>
                <option id="LM" value="LM">Bal oldali középpályás</option>
                <option id="RM" value="RM">Jobb oldali középpályás</option>
                <option id="LW" value="LW">Bal szélső támadó</option>
                <option id="RW" value="RW">Jobb szélső támadó</option>
                <option id="ST" value="ST">Csatár</option>
                <option id="VD" value="VD">Védő</option>
                <option id="SS" value="SS">Árnyékék</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
            <button id="update-player-btn" type="submit" class="btn btn-primary">Mentés</button>
          </div>
      </form>
        </div>
    </div>
</div>