<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Tabellák</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Csapatok</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Játékosok</button>
  </li>
  
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Új felvétele</button>
  </li>
</ul>
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Játékos szerkesztése</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#" id="adatok">
          <div class="modal-body">
            <label for="name" class="form-label">Név: </label>
            <input type="text" name="name" class="form-control mb-3">

            <label for="teamID" class="form-label">Csapat id: </label>
            <input type="text" name="teamID" class="form-control mb-3">

            <label for="goals" class="form-label">Gólok: </label>
            <input type="number" name="goals" class="form-control mb-3">

            <label for="matches" class="form-label">Meccsek: </label>
            <input type="number" name="matches" class="form-control mb-3">

            <label for="skill" class="form-label">Skill: </label>
            <input type="number" name="skill" class="form-control mb-3">

            <label for="position" class="form-label">Pozíció: </label>
            <select name="position class="form-control mb-3">
                <option value="GK">Kapus</option>
                <option value="CB">Középhátvéd</option>
                <option value="LB">Bal hátvéd</option>
                <option value="RB">Jobb hátvéd</option>
                <option value="LWB">Bal oldali szárnyvédő</option>
                <option value="RWB">Jobb oldali szárnyvédő</option>
                <option value="DM">Védekező középpályás</option>
                <option value="CM">Középső középpályás</option>
                <option value="AM">Támadó középpályás</option>
                <option value="LM">Bal oldali középpályás</option>
                <option value="RM">Jobb oldali középpályás</option>
                <option value="LW">Bal szélső támadó</option>
                <option value="RW">Jobb szélső támadó</option>
                <option value="ST">Csatár</option>
                <option value="VD">Védő</option>
                <option value="SS">Árnyékék</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
            <button type="submit" class="btn btn-primary">Mentés</button>
          </div>
      </form>
    </div>
  </div>
</div>