<div class="row">
    <div class="col-11">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tables-tab" data-bs-toggle="tab" data-bs-target="#tables-tab-pane"
                    type="button" role="tab" aria-controls="tables-tab-pane" aria-selected="true">Tabellák</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="players-tab" data-bs-toggle="tab" data-bs-target="#players-tab-pane"
                    type="button" role="tab" aria-controls="players-tab-pane" aria-selected="false">Csapatok</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="teams-tab" data-bs-toggle="tab" data-bs-target="#teams-tab-pane"
                    type="button" role="tab" aria-controls="teams-tab-pane" aria-selected="false">Játékosok</button>
            </li>
        </ul>
    </div>
    <div class="col-1">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTable">Új készítése</button>
    </div>
</div>

<div class="modal fade" id="newTable" tabindex="-1" aria-labelledby="newTable" aria-hidden="true"
    style="z-index: 1051;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tabella Kreáló</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="table-form-modal">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tableName" class="form-label">Bajnokság / Tabella neve</label>
                        <input type="text" class="form-box form-control" id="tableName" name="tableName"
                            placeholder="Pl. Tavaszi Szezon 2026" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Résztvevő csapatok kiválasztása</label>
                        <div id="team-body" class="border p-3 rounded" style="max-height: 200px; overflow-y: auto;">
                
                        </div>
                        <div class="form-text">Válassz ki legalább 2 csapatot a tabella elindításához.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                    <button type="submit" class="btn btn-primary">Tabella Létrehozása</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tables-tab-pane" role="tabpanel" aria-labelledby="tables-tab"
        tabindex="0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <p>Tabella1</p>
                    </div>
                    <div class="col-6 text-end">
                        <a href="#">Részletek</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="players-tab-pane" role="tabpanel" aria-labelledby="players-tab" tabindex="0">
        <p>asdas</p>
    </div>
    <div class="tab-pane fade" id="teams-tab-pane" role="tabpanel" aria-labelledby="teams-tab" tabindex="0">...</div>
</div>