* {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

body
{
  width: 100vw;
  height: 100vh;
  transition: 1.5s;
}

/* Mobil eszközök */
@media only screen and (min-width: 360px)
{
  body { --bs-body-bg: #FF0000; }
}

/* Tablet eszközök */
@media only screen and (min-width: 768px)
{
  body { --bs-body-bg: #00FF00; }
}

/* Asztali eszközök */
@media only screen and (min-width: 1200px)
{
  body { --bs-body-bg: #0000FF; }
}